<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <div style="display: flex; justify-content: space-between">
            <div >
                <h1 style="display: inline-block"><a href="{{ path('homepage') }}">Guestbook</a></h1>

                    {% for conference in conferences %}
                        <div style="display: inline-block"><a href="{{ path('conference', {id: conference.id}) }}">{{ conference }}</a></div>
                    {% endfor %}
            </div>
            <div >
                <a href="{{ path('admin') }}">Admin</a>
            </div>
        </div>
        <hr />
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
